# Set default behavior to automatically normalize line endings
* text=auto

# Explicitly specify text files
*.css text
*.js text
*.ts text
*.json text
*.md text
*.html text
*.gitignore text

# Binary files should not be converted
*.png binary
*.jpg binary
*.svg binary
*.woff binary
*.ttf binary
