@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1, h2, h3, h4, p, span, label {
  color: black 
}

input {
  background-color: white; /* Ensures background is white */
  color: black; /* Ensures text is visible */
}

/* Hide the native checkbox visually, but keep it accessible */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  background-color: white;
  border: 2px solid gray;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}

input[type="checkbox"]:checked {
  background-color: #0075ff;
}
/* Add the custom checkmark for the checked state */
input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 6px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

/* Focus outline for accessibility */
input[type="checkbox"]:focus {
  outline: 1px solid black;
}

input::before {
  background-color: white; /* Ensures background is white */
}

input::placeholder {
  color: #9ca3af; /* Placeholder styling */
}

.calendar {
  width: 64px; /* Adjust the width as needed */
  height: 64px; /* Adjust the height as needed */
  border: 2px solid #ccc; /* Example border */
  border-radius: 8px; /* Rounded corners */
  background-color: white; /* Background color */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

.fade-in {
  animation: fadeIn 0.5s ease-in forwards;
}

.fade-out {
  animation: fadeOut 0.5s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
